.resultPic {
  height: 100px;
  width: 100px;
}

.detailPic {
  max-width: 340px;
  max-height: 400px;
}

.savedPic {
  max-width: 160px;
  max-height: 200px;
}

.saveButton {
  position: fixed;
  top: auto;
  right: 50px;
}

.homeSearch {
  width: 305px;
}
