.resultPic {
  height: 100px;
  width: 100px;
}

.detailPic {
  max-width: 340px;
  max-height: 400px;
}

.savedPic {
  max-width: 160px;
  max-height: 200px;
}

.saveButton {
  float: right;
  position: relative;
  top: auto;
  right: 50px;
}

.saveButton:hover{
  color: goldenrod;
}

.delButton {
  text-align: center;
}

.homeSearch {
  width: 305px;
}

.mealInput {
  width: 250px;
}

.footer {
  margin-top: 50px;
  padding: 3px;
  position: relative;
  bottom: 2px;
  text-align: center;
}

.loginButton{
  margin-top: 30px;
}

button{
  margin: 5px auto 5px auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*.groceryList {
  display: flex;
  flex-flow: nowrap;
  align-content: flex-start;
  flex-direction: column;
}*/

.listItem {
  font-size: 15px;
  margin: 0 20px 0 5px; 
}

.recipeLib {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}


.recipeCard {
  max-width: 160px;
  margin: 0 2px;
}

#faveTitle {
  text-decoration: underline;
}
