<!--the hashbang stuff goes here-->
<nav class="navbar fixed-top bg-faded" id="myTopnav">
  <a class="navbar-brand" href="#!home"><h1>Wip It Up</h1></a>
  <ul class=" navbar-nav list-unstyled">
    <li class="nav-item"><a class="nav-link" href="#!search">Search Recipes</a></li>
    <li class="nav-item"><a class="nav-link" href="#!schedule">Weekly Schudule</a></li>
    <li class="nav-item"><a class="nav-link" href="#!groceryList">Grocery List</a></li>
    <li class="nav-item"><a class="nav-link" href="#!saved">Saved Recipes</a></li>
  </ul>
</nav>
