<article ng-if="scd.schedule.user.email != null" class="container">
<div ng-repeat="days in scd.schedule.user.schedule">
  <form>
  <table class="scheduleDisplay">
    <tr>
      <td><label for="meal" data-index="">{{days.day}}</label></td>
      <td><input type="text" name="meal" placeholder="{{days.meal}}" ng-model="days.meal"  class="mealInput"></td>
      <td><button type="submit" name="button" ng-click="scd.addMeal(days, $index)">Save</button>
    <tr>
  </table>
  <form>
</div>
<h4 ng-click="scd.clearList()">Start New Schedule</h4>
</article>

<div ng-if="scd.schedule.user.email == null">
  <h3>Sorry, login required to access this feature!</h3>
  <button class="btn btn-primary" type="button" ng-click="scd.logIn()">login</button>
</div>
<!-- {{scd.schedule.user._id}} -->


<!-- NOTE: xeditable version, limitation of strings only can be passed back from DOM -->

<!-- <label for="meal" data-index="">{{days.day}}</label>
<span editable-text="days.meal" e-form="textBtnForm" ng-model="days.meal">
  {{ days.meal || 'empty' }}
</span>
<button class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible" onaftersave="scd.addMeal(days.meal, $index)">
  edit
</button> -->
