  <div class="display-inline">
      <h5>Search Results:</h5>
      <form class="input-group">
      <input class="form-control" type="text" ng-model="search.search.criteria" placeholder="Change Search"/>
      <span class="input-group-btn">
        <button class="btn btn-danger" type="submit" name="button" ng-click="search.findRecipes(search.search.criteria)">Go</button>
      </span>
    </form>
  </div>

  <table>
    <tr ng-repeat="recipe in search.returnedRecipes.list.recipes">
      <td ng-click="search.moreDetails(recipe.recipe_id)"><img src="{{recipe.image_url}}" alt="{{recipe.title}}" class="img-thumbnail resultPic"></td>
      <td ng-click="search.moreDetails(recipe.recipe_id)"><h4>{{recipe.title}}</h4></td>
    </tr>
  </table>
  <!-- <h5>{{search.errorMessage}}</h5> -->
